body {
    background-color: lightpink;
    color:#333;
    font-size: 22px;
    font-weight: lighter;
    text-align: center
    ;
    margin-top: 15px;
}

input {
    width: 350px;

}

div.column-section {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 18%;
}